nav{
    display: flex;
    padding: 20px;
    padding-left: 120px;
    padding-right: 120px;
    justify-content: space-between;
    align-items: center;
    background-color: #1C2B35;
}
.ul{
    display: flex;
    list-style: none;
    gap: 32px;
    color: white;
    
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(188, 187, 187);
}